/* Sidebar */

.pane_sidebar {
    -fx-background-color: #aaaaaa;
}

.directory_bar_item_title_wrapper {
	-fx-background-color: #CFD2CF;
}

.directory_bar_item_title_wrapper:hover {
	-fx-background-color: #d5d8dc;
}

.pane_script_directory_selected .directory_bar_item_title_wrapper {
	-fx-background-color: #90B5B3;
}

/* Hover on file listed */
.sidebar_button_title_hover {
	-fx-background-color: #BCDDDB;
}

/* Contents */

.pane_directory,
.pane_script_details,
.pane_options {
    -fx-background-color: #aaaaaa;
}

/* Scripts */

.pane_script_info {
	-fx-background-color: #BCDDDB;
}

.pane_script_run {
	-fx-background-color: #eeeeee;
}

.pane_script_edit {
	-fx-background-color: #eeeeee;
}