
.label,
.button,
.toggle-button,
.check-box,
.radio-button,
.hyperlink,
.text-field,
.text-area,
.table-row-cell,
.list-cell {
    -fx-font-size: 1.15em;
}

.titlesmed {
    -fx-font-size: 1.15em;
}

.titles {
    -fx-font-size: 1.65em;
}
